// Primary Colours
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral Colours
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: $cream;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 22px;
    background-color: $soft-red;
    color: white;
    border-radius: 20px;

    .header-title {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 4px;
    }

    .header-balance {
        font-size: 24px;
        font-weight: 700;
    }
}

.chart {
    padding: 24px 20px;
    background-color: $very-pale-orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .chart-title {
        font-size: 24px;
        padding-bottom: 52px;
    }

    .canvas-container {
        width: 303px;
        height: 177px;
        margin-bottom: 24px;
    }

    hr {
        border: 1px solid $cream;
        margin-bottom: 24px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .footer-left {

            .footer-title {
                font-size: 15px;
                font-weight: 400;
                color: $medium-brown;
                padding-bottom: 4px;
            }

            .month-total {
                font-size: 30px;
                font-weight: 700;
                padding-top: 4px;
            }

        }

        .footer-right {
            text-align: right;

            .footer-text {
                font-size: 15px;
                font-weight: 400;
                color: $medium-brown
            }

            .month-perc {
                font-weight: 700;
                text-align: right;
            }

        }
    }
}

@media screen and (min-width: 600px) {
    .container {
        min-width: 540px;
        gap: 1.5rem;
    }

    .header {
        padding: 27px 39px 25px 32px;

        .header-title {
            font-size: 18px;
            padding-bottom: 8px;
        }

        .header-balance {
            font-size: 32px;
        }
    }

    .chart {
        padding: 32px 40px 40px;

        .chart-title {
            font-size: 32px;
            padding-bottom: 66px;
        }

        canvas {
            position: absolute;
            bottom: -20px;
        }

        .canvas-container {
            width: 100%;
            height: 177px;
            position: relative;
            margin-bottom: 32px;
        }

        hr {
            border: 1px solid $cream;
            margin-bottom: 32px;
        }

        .footer {

            .footer-left {

                .footer-title {
                    font-size: 18px;
                    padding-bottom: 1px;
                }

                .month-total {
                    font-size: 48px;
                    font-weight: 700;
                }

            }

            .footer-right {

                .footer-text {
                    font-size: 18px;
                }

                .month-perc {
                    font-size: 18px;
                }

            }
        }
    }
}